<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.guns.modular.system.mapper.SysFilesMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.stylefeng.guns.modular.system.entity.FileInfo">
        <id column="FILE_ID" property="fileId" />
        <result column="NAME" property="name" />
        <result column="INTRO" property="intro" />
        <result column="FILE_TYPE" property="fileType" />
        <result column="CREATE_DATE" property="createDate" />
        <result column="CREATE_USER" property="createUser" />
        <result column="URL" property="url" />
        <result column="REAL_NAME" property="realName"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        FILE_ID AS fileId, NAME AS name, INTRO AS intro, FILE_TYPE AS fileType, CREATE_DATE AS createDate, 
        CREATE_USER AS createUser, URL AS url, REAL_NAME AS realName
    </sql>
</mapper>
